<!DOCTYPE html>
<html>
<head>
  <title><%= full_title(yield(:title)) %></title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  
  <div class="user_nav">
    <% if current_user %>
      <p>
        Logged in as <%= current_user.email %>.
        <%= link_to "Log out", logout_path %>
      </p>
    <% else %>
      <p>
        <%= link_to "Sign up", signup_path %> or
        <%= link_to "Log in", login_path  %>.
      </p>
    <% end %>
  </div>
  
  <% flash.each do |name, msg| %>
    <%= content_tag :div, msg, :id => "flash_#{name}" %>
  <% end %>
  
<%= yield %>

</body>
</html>
